.footer {
  background-color: #00bcd4; /* Color de fondo cian claro */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  color: white; /* Color del texto */
  font-size: 14px; /* Tamaño de la fuente */
  font-family: 'Arial', sans-serif; /* Familia de la fuente */
  position: fixed; /* Fijar al fondo */
  bottom: 0; /* Fijar al fondo */
  width: 100%; /* Ancho completo */
  box-shadow: 0 -2px 4px rgba(0, 188, 212, 0.2); /* Sombra sutil con tono cian */
}
